<script type="text/javascript" language="javascript">
        $( document ).ready(function(){           
            $('.carousel').carousel({dist: -50}); //carousel init
            
        });        
    </script>
  <div class="carousel">
      <a class="carousel-item" href="#one!"><img class="product-image-size" src="../../../shared/images/products/AMD-R9-290X.png"></a>
      <a class="carousel-item" href="#two!"><img src="../../../shared/images/products/titanz.png"></a>
      <a class="carousel-item" href="#three!"><img src="../../../shared/images/products/ram.png"></a>      
  </div>


