.navbar {
    border-radius: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.logo-icon {
    height: 1.7rem;
    width: 1.7rem;

}

.login-icon {
    height: 1.1rem;
    width: 1.1rem;
}

.signup-icon {
    height: 1.1rem;
    width: 1.1rem;
}

.shopping-cart-icon {
    height: 1.1rem;
    width: 1.1rem;
}

.categories-icon {
    height: 1.1rem;
    width: 1.1rem;
}

.search-bar {
    margin-right: 350px;
}

/*@media (min-width: 1205px) {
    .navbar{
        padding-left: 350px;
        padding-right: 150px;
    }
}

@media (max-width: 1200px) {
    .navbar {
        padding-left: 5px;
        padding-right: 5px;
    }
}*/

