<div class="product-list">
	<div class="row">
		<div class="input-field col m4">
			<select>
				<option value="1">New</option>
				<option value="2">Best selling</option>
				<option value="3">Discount</option>
			</select>
			<label>Sort by:</label>
		</div>
		<div class="col m8" style="width: 100%"></div>
		<div class="col s12 m4">
			<div class="card small">
				<div class="card-image">
					<img src="../../../shared/images/products/titanz.png">
				</div>
				<div class="card-content">
					<span class="white-text left-align">Nvidia Titan Z</span>
					<span class="white-text right-align">Price: 555.55€</span>
					<a class="waves-effect waves-light btn btn-custom">Add to Cart</a>
				</div>				
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card small">
				<div class="card-image">
					<img src="../../../shared/images/products/titanz.png">
				</div>
				<div class="card-content">
					<span class="white-text left-align">Nvidia Titan Z</span>
					<span class="white-text right-align">Price: 555.55€</span>
					<a class="waves-effect waves-light btn btn-custom">Add to Cart</a>
				</div>				
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card small">
				<div class="card-image">
					<img src="../../../shared/images/products/titanz.png">
				</div>
				<div class="card-content">
					<span class="white-text left-align">Nvidia Titan Z</span>
					<span class="white-text right-align">Price: 555.55€</span>
					<a class="waves-effect waves-light btn btn-custom">Add to Cart</a>
				</div>				
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card small">
				<div class="card-image">
					<img src="../../../shared/images/products/titanz.png">
				</div>
				<div class="card-content">
					<span class="white-text left-align">Nvidia Titan Z</span>
					<span class="white-text right-align">Price: 555.55€</span>
					<a class="waves-effect waves-light btn btn-custom">Add to Cart</a>
				</div>				
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card small">
				<div class="card-image">
					<img src="../../../shared/images/products/titanz.png">
				</div>
				<div class="card-content">
					<span class="white-text left-align">Nvidia Titan Z</span>
					<span class="white-text right-align">Price: 555.55€</span>
					<a class="waves-effect waves-light btn btn-custom">Add to Cart</a>
				</div>				
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card small">
				<div class="card-image">
					<img src="../../../shared/images/products/titanz.png">
				</div>
				<div class="card-content">
					<span class="white-text left-align">Nvidia Titan Z</span>
					<span class="white-text right-align">Price: 555.55€</span>
					<a class="waves-effect waves-light btn btn-custom">Add to Cart</a>
				</div>				
			</div>
		</div>		
	</div>
</div>